* {
  box-sizing: border-box;
  font-family: "微软雅黑";
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.f12 {
  font-size: 12px;
}
.f14 {
  font-size: 14px;
}
.f18 {
  font-size: 18px;
}
.f16 {
  font-size: 16px;
}
.f20 {
  font-size: 20px;
}
.oh {
  overflow: hidden;
}
.tc {
  text-align: center;
}
.box-mid {
  margin: 0 auto;
}
a {
  color: white;
}
.adadadad {
  overflow: hidden;
  width: 1180px;
  margin: 0 auto;
}
.adadadad img {
  width: 1180px;
  height: 320px;
  float: left;
  display: none;
}
.trysomethingbetter {
  width: 1180px;
  margin: 0 auto;
  margin-top: 10px;
}
.toptop {
  background-color: #F2F2F2;
  height: 110px;
  color: white;
  text-align: center;
}
.toptop .nav {
  line-height: 40px;
  height: 40px;
  background-color: #104E81;
}
.toptop .nav dt {
  float: right;
  width: 100px;
}
.toptop .nav dt.search {
  margin-right: 100px;
}
.toptop .nav dt a {
  color: white;
}
.toptop .nav dd {
  float: left;
  margin-right: 20px;
}
.toptop .nav dd img {
  height: 25px;
  line-height: 40px;
  margin-left: 20px;
}
.toptop .logo {
  height: 70px;
  background-color: #F2F2F2;
  background: url(../images/2017-08-08_142252.png) no-repeat center center;
}
.content {
  width: 1180px;
  margin: 20px auto;
  overflow: hidden;
}
.content .bodyleft {
  float: left;
  width: 220px;
}
.content .bodyleft .war {
  float: left;
  width: 205px;
  box-shadow: 5px 5px 5px #F1F1F1;
  border: 1px solid #F1F1F1;
  border-right: none;
}
.content .bodyleft .war .left {
  width: 210px;
  height: 95px;
  float: left;
  border-bottom: 2px dashed #F1F1F1;
  position: relative;
}
.content .bodyleft .war .left dl {
  width: 210px;
  height: 95px;
  float: left;
}
.content .bodyleft .war .left dl:hover {
  background-color: #8DB6CD;
}
.content .bodyleft .war .left dl .dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  position: absolute;
  top: 35px;
  left: 195px;
  display: none;
}
.content .bodyleft .war .left dt {
  width: 210px;
  height: 40px;
  float: left;
  color: #666666;
  font-size: 14px;
  line-height: 45px;
  padding-left: 25px;
  position: relative;
  margin-bottom: 10px;
  margin-left: 20px;
  font-weight: bold;
}
.content .bodyleft .war .left dt a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 13px;
}
.content .bodyleft .war .left dd {
  margin-left: 20px;
}
.content .bodyleft .war .left ul {
  position: absolute;
  left: 205px;
  top: 0;
  width: 210px;
  height: 180px;
  z-index: 999;
  background-color: #ccc;
}
.content .bodyleft .war .left ul li {
  float: left;
  color: white;
  margin-top: 5px;
  margin-right: 20px;
  margin-left: 10px;
  font-size: 14px;
}
.content .bodyleft .war .left ul li.hot_title {
  width: 200px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  margin: 0 auto;
  margin-left: 10px;
  color: #8DB6CD;
  border-bottom: 1px dashed white;
}
.content .bodyleft .war .left ul li:hover {
  color: skyblue;
}
.content .bodyleft .war .hot {
  position: relative;
}
.content .bodyleft .war .hot img {
  position: absolute;
  left: 0;
  top: 10px;
}
.content .bodyleft .war .medical a {
  background: url(../images/icon_bg.png) 0 -40px;
}
.content .bodyleft .war .zhiyao a {
  background: url(../images/icon_bg.png) 0 -70px;
}
.content .bodyleft .war .zh a {
  background: url(../images/icon_bg.png) 0 -100px;
}
.content .bodyleft .war .swcy a {
  background: url(../images/icon_bg.png) 0 -130px;
}
.content .bodyleft .war .seyj a {
  background: url(../images/icon_bg.png) 0 -160px;
}
.content .bodyleft .war .yljk a {
  background: url(../images/icon_bg.png) 0 -190px;
}
.content .bodyleft .war .ylqx {
  border: none;
}
.content .bodyleft .war .ylqx a {
  background: url(../images/icon_bg.png) 0 -10px;
}
.content .bodyleft .add {
  width: 210px;
  float: left;
}
.content .bodyleft .add .no1 {
  width: 210px;
  height: 80px;
  background: url(../images/201708031551139473.jpg) no-repeat center center;
}
.content .bodyleft .add .no2 {
  height: 300px;
  width: 210px;
  background: url(../images/2017-08-08_182303.png) no-repeat center center;
}
.content .bodyleft .add .no3 {
  height: 300px;
  width: 210px;
  background: url(../images/2017-08-08_182320.png) no-repeat center center;
}
.content .bodyleft .add span {
  float: left;
  display: block;
  width: 210px;
  font-size: 18px;
  padding-left: 20px;
  font-weight: bold;
  color: #C91618;
}
.content .bodymain {
  width: 650px;
  float: left;
  margin-left: 8px;
  overflow: hidden;
}
.content .bodymain .ad {
  width: 650px;
  height: 210px;
}
.content .bodymain .ad .bigphoto {
  width: 445px;
  height: 210px;
  float: left;
  position: relative;
}
.content .bodymain .ad .bigphoto img {
  width: 100%;
  height: 210px;
  position: absolute;
  top: 0;
  left: 0;
}
.content .bodymain .ad .smallphoto {
  width: 202px;
  height: 210px;
  float: right;
}
.content .bodymain .ad .smallphoto .pho {
  width: 100px;
  height: 51px;
  margin-bottom: 2px;
  position: relative;
  overflow: hidden;
  float: left;
}
.content .bodymain .ad .smallphoto .pho img {
  width: 100px;
  height: 51px;
}
.content .bodymain .ad .smallphoto .pho p {
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px;
  width: 100px;
  height: 51px;
  opacity: 0.5;
  color: white;
  font-size: 16px;
}
.content .bodymain .nav {
  width: 624px;
  height: 50px;
  margin: 0 auto;
  border-bottom: 3px solid #E6E6E6;
  text-align: center;
  font-size: 18px;
  color: #666666;
  line-height: 50px;
}
.content .bodymain .nav dd {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.content .bodymain .nav .nav_show {
  color: #C91618;
  height: 48px;
  border-bottom: 3px solid #C91618;
  color: skyblue;
}
.content .bodymain .new {
  border-bottom: 1px dashed #DEDEDE;
  height: 160px;
  margin-left: 7px;
  width: 640px;
}
.content .bodymain .new dd {
  width: 440px;
  float: right;
  color: #666666;
  text-indent: 2em;
  font-size: 14px;
  line-height: 150%;
  padding-top: 10px;
}
.content .bodymain .new dd.small {
  font-size: 12px;
  color: #DDDDDD;
  text-indent: 0;
  padding-top: 5px;
}
.content .bodymain .new dt {
  width: 440px;
  padding-top: 20px;
  float: right;
  font-size: 18px;
  color: #333333;
}
.content .bodymain .new a {
  display: block;
  float: left;
  width: 175px;
  height: 110px;
  background-size: 100% 100%;
  margin-top: 20px;
}
.content .bodymain .mode1 {
  width: 640px;
  height: 560px;
}
.content .bodymain .mode1 .new1 {
  display: none;
}
.content .bodymain .mode1 .new1 .new11 a {
  background: url(../images/20170808130544343.jpg);
}
.content .bodymain .mode1 .new1 .n2 a {
  background: url(../images/170808101714111.png);
}
.content .bodymain .mode1 .new1 .n3 a {
  background: url(../images/20170808125526643.jpg);
}
.content .bodymain .mode1 .new2 .new11 a {
  background: url(../images/20170822143025826.png);
}
.content .bodymain .mode1 .new2 .n2 a {
  background: url(../images/20170822135327318.png);
}
.content .bodymain .mode1 .new2 .n3 a {
  background: url(../images/20170822133646840.png);
}
.content .bodymain .mode1 .new3 .new11 a {
  background: url(../images/20170822122400290.jpg);
}
.content .bodymain .mode1 .new3 .n2 a {
  background: url(../images/20170822120610480.png);
}
.content .bodymain .mode1 .new3 .n3 a {
  background: url(../images/20170822112348473.jpg);
}
.content .bodymain .mode1 .new4 .new11 a {
  background: url(../images/20170822101949939.jpg);
}
.content .bodymain .mode1 .new4 .n2 a {
  background: url(../images/20170822101945231.png);
}
.content .bodymain .mode1 .new4 .n3 a {
  background: url(../images/20170822095702900.jpg);
}
.content .bodymain .mode1 .tong {
  width: 640px;
  height: 80px;
  margin-left: 5px;
  border-bottom: 1px dashed #DEDEDE;
  background: url(../images/2017-08-08_165255.png) no-repeat left center;
}
.content .bodymain .mode1 .on {
  display: block;
}
.content .bodymain .mode2 {
  width: 640px;
  height: 560px;
}
.content .bodymain .mode2 .new1 .new11 a {
  background: url(../images/20170808124919698.jpg);
}
.content .bodymain .mode2 .new1 .n2 a {
  background: url(../images/20170808122729260.jpg);
}
.content .bodymain .mode2 .new1 .n3 a {
  background: url(../images/20170808091515881.jpg);
}
.content .bodymain .mode2 .tong {
  width: 640px;
  height: 80px;
  margin-left: 5px;
  border-bottom: 1px dashed #DEDEDE;
  background: url(../images/201707211619596490.gif) no-repeat left center;
}
.content .bodymain .mode3 {
  width: 640px;
  height: 560px;
}
.content .bodymain .mode3 .new1 .new11 a {
  background: url(../images/20170808114050668.jpg);
}
.content .bodymain .mode3 .new1 .n2 a {
  background: url(../images/20170808113822283.jpg);
}
.content .bodymain .mode3 .new1 .n3 a {
  background: url(../images/20170808113410647.jpg);
}
.content .bodymain .mode3 .tong {
  width: 640px;
  height: 40px;
  margin-left: 5px;
  margin-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 40px;
  background-color: #F5F5F5;
  text-align: center;
}
.content .bodymain .mode3 .tong a {
  color: #926666;
}
.content .bodyright {
  float: right;
  width: 290px;
  overflow: hidden;
}
.content .bodyright .top {
  height: 360px;
}
.content .bodyright .top .xuanz {
  transform: scale(1.5, 1.5);
}
.content .bodyright .top dt {
  width: 93px;
  height: 85px;
  float: left;
  margin: 5px 5px 5px 0;
  background: url(../images/2017-08-08_133209.png) no-repeat;
}
.content .bodyright .top dt.n3 {
  float: right;
  margin-right: 0;
  background: url(../images/2017-08-08_133244.png) no-repeat;
}
.content .bodyright .top dt.n2 {
  background: url(../images/2017-08-08_133224.png) no-repeat;
}
.content .bodyright .top dt.n4 {
  background: url(../images/2017-08-08_175626.png) no-repeat;
}
.content .bodyright .top dd {
  float: right;
  width: 187px;
  height: 85px;
  margin: 5px 0 5px 0;
  background: url(../images/2017-08-08_172933.png) no-repeat;
}
.content .bodyright .top dd.big {
  height: 110px;
  float: left;
  width: 288px;
  background: url(../images/2017-08-08_172842.png) no-repeat;
  background-size: 100%;
}
.content .bodyright .top dd.ad {
  width: 290px;
  height: 50px;
  background-size: 100%;
  background: url(../images/201707031106496060.jpg) no-repeat;
}
.content .bodyright .content {
  width: 290px;
  overflow: hidden;
}
.content .bodyright .content ul {
  width: 290px;
}
.content .bodyright .content ul dt {
  width: 95px;
  height: 45px;
  float: left;
  text-align: center;
  font-size: 14px;
  line-height: 48px;
  margin-bottom: 10px;
  border: 1px solid #E6EAED;
  color: #7692B1;
}
.content .bodyright .content ul dt.blue {
  background-color: skyblue;
  color: white;
}
.content .bodyright .content ul .bodyright_new {
  width: 290px;
  height: 450px;
  display: none;
}
.content .bodyright .content ul .show {
  display: block;
}
.content .bodyright .content ul dd {
  width: 290px;
  height: 30px;
  font-size: 14px;
  float: left;
  line-height: 30px;
}
.content .bodyright .content ul dd img {
  margin-right: 5px;
}
.content .bodyright .content span {
  display: block;
  float: left;
  width: 290px;
  height: 60px;
  margin-top: 10px;
  background: url(../images/201707031108072264.jpg) no-repeat;
  background-size: 100% 100%;
}
.content .bodyright .guess {
  width: 290px;
}
.content .bodyright .guess span {
  font-size: 20px;
  color: #C91618;
}
.content .bodyright .guess .new {
  width: 290px;
  height: 60px;
  padding: 10px 0 0 5px;
  border-bottom: 1px dashed #E8E8E8;
}
.content .bodyright .guess .new dt {
  color: black;
  font-size: 16px;
  float: left;
}
.content .bodyright .guess .new dd {
  float: left;
  font-size: 13px;
  color: #666666;
}
.content .bodyright .newclass {
  overflow: hidden;
  margin-top: 20px;
}
.content .bodyright .newclass span {
  font-size: 20px;
  color: #C91618;
}
.content .bodyright .newclass .ad1 {
  width: 290px;
  height: 240px;
  background: url(../images/2017-08-08_182337.png) no-repeat center center;
}
.content .bodyright .newclass .ad2 {
  width: 290px;
  height: 80px;
  background: url(../images/201707131001066357.jpg) no-repeat center center;
}
.content .bodyright .newclass .ad3 {
  width: 290px;
  height: 80px;
  background: url(../images/kd.jpg) no-repeat center center;
}
.footer {
  overflow: hidden;
  height: 185px;
}
.footer .top {
  height: 40px;
  background-color: #5588BB;
  text-align: center;
  line-height: 40px;
}
.footer .top a {
  color: white;
}
.footer .content {
  height: 140px;
  text-align: center;
}
.footer .content a {
  display: block;
  margin: 10px auto;
  color: #ccc;
}
.footer .content a:hover {
  color: greenyellow;
}
.footer .content img {
  display: block;
  margin: 10px auto;
}
